name: Security scans (push)

on:
  push:
    branches: [ main ]  # adjust as needed

jobs:
  snyk:
    uses: ./.github/workflows/secure_snyk.yaml
    with:
      PROFILE: app
      SCA_scan: snyk
      SAST_scan: snyk
      IAC_scan: snyk
      CONTAINER_scan: none
      severity_threshold: high
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      Snyk_Org: ${{ secrets.SNYK_ORG }}