name: Snyk Scan Workflow (manual trigger)

on:
  workflow_dispatch:
    inputs:
      SNYK_PROFILE:
        description: "Snyk profile for SCA/SAST scans (app), IaC scans (iac)"
        required: true
        type: choice
        options:
          - app
          - iac
          - image_scan

      SCA_scan:
        description: "App Profile: Enable Snyk SCA scan (set to 'snyk' to enable; set to 'none' to skip)"
        required: true
        type: choice
        options:
          - snyk
          - none

      SAST_scan:
        description: "App Profile: Enable Snyk SAST scan (set to 'snyk' to enable; set to 'none' to skip)"
        required: false
        type: choice
        options:
          - snyk
          - none

      IAC_scan:
        description: "IaC Profile: Enable Snyk IaC scan (set to 'snyk' to enable; set to 'none' to skip)"
        required: false
        type: choice
        options:
          - snyk
          - none

      CONTAINER_scan:
        description: "Container Profile: Enable Snyk Container scan (set to 'snyk' to enable; set to 'none' to skip)"
        required: false
        type: choice
        options:
          - snyk
          - none

      severity_threshold:
        description: "Set security scan severity threshold (low, medium, high, critical), default is high"
        required: false
        default: "high"

jobs:
  run_secure_snyk:
    name: Run Secure Snyk Workflow
    uses: ./.github/workflows/secure_snyk.yaml
    with:
      PROFILE: ${{ inputs.SNYK_PROFILE }}
      SCA_scan: ${{ inputs.SCA_scan }}
      SAST_scan: ${{ inputs.SAST_scan }}
      IAC_scan: ${{ inputs.IAC_scan }}
      CONTAINER_scan: ${{ inputs.CONTAINER_scan }}
      severity_threshold: ${{ inputs.severity_threshold }}
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      Snyk_Org: ${{ secrets.SNYK_ORG }}
